<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<div id="content">
    <div data-reactid=".0">
        <div data-reactid=".0.0">
            <div class="content" data-reactid=".0.0.0"><h1 class="welcome center" data-reactid=".0.0.0.0">欢迎加入</h1>
                <form id="login-form">
                    <div class="input" id="getInput">
                        <input type="text" name="nickname" value="" placeholder="用户名" autocapitalize="off" autocorrect="off"></div>
                    <div class="input" id="getNickName">
                        <input type="text" class="show-pwd show" name="password" value="" placeholder="密码 (最少6位)" autocapitalize="off"
                               autocorrect="off">
                    </div>
                    <div class="opt-area">
                        <button class="btn ">注册</button>
                        <p class="agreement center"><span>点击「下一步」代表你已阅读并同意</span><a>用户使用协议</a></p></div>
                </form>
            </div>
        </div>

</div>
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script>
        $("#login-form").submit(function () {
            $.ajax({
                url: '/register',
                dataType: 'json',
                type: 'post',
                data: $("#login-form").serialize(),
                success: function (result) {
                    if(result.errcode == 0) {
                        window.location.href = '/';
                    } else {
                        alert(result.errmsg);
                    }
                }
            });
            return false;
        });
    </script>

</body>
</html>