article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img, fieldset {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

th, caption {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

a:hover, a:active {
    outline: 0
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}

input {
    vertical-align: middle
}

input, button, textarea {
    font-size: 14px;
    outline: none;
    resize: none
}

input, button {
    *overflow: visible;
    line-height: normal
}

input::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border: 0
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    -webkit-tap-highlight-color: #ccc
}

input[type="search"] {
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

input[type="text"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-color: #ccc
}

textarea {
    overflow: auto;
    vertical-align: top;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-color: #ccc
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent
}

html {
    background: #fff
}

body, td, th, p {
    font: 14px Arial, Helvetica, sans-serif;
    line-height: 1.62
}

table {
    border-collapse: collapse;
    border: none;
    padding: 0;
    margin: 0
}

h1 {
    margin: 0 0 10px 0;
    font-size: 25px;
    line-height: 1.2;
    word-wrap: break-word
}

h2 {
    margin: 0 0 10px 0;
    font: 14px Arial, Helvetica, sans-serif;
    color: #060;
    line-height: 1.2
}

h3, h4, blockquote {
    margin: 0;
    padding: 0
}

blockquote {
    margin-left: 10px;
    word-wrap: break-word
}

i {
    font-style: normal
}

a {
    -webkit-user-select: none
}

a:link {
    color: #42bd56;
    text-decoration: none
}

a, input, button {
    outline: 0
}

input:-webkit-autofill {
    box-shadow: 0 0 0 50px #fff inset;
    -webkit-text-fill-color: #333
}

.hide {
    display: none
}

.t-center {
    text-align: center
}

.f17 {
    font-size: 17px
}

.fgreen {
    color: #42bd56
}

.header {
    display: none
}

h1 {
    background: #fff;
    height: 45px;
    border-bottom: 1px solid #eee;
    padding: 0 18px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 45px
}

h1 a {
    color: #42bd56;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    left: 18px;
    top: 0
}

.mobile-accounts {
    padding: 15px
}

.reglink {
    color: #42bd56 !important
}

.form-element {
    position: relative
}

.form-element strong {
    font-size: 15px;
    color: #222;
    display: none;
    margin-bottom: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.form-element .label-tip {
    float: right;
    font-size: 13px
}

.form-element input[type="text"], .form-element input[type="password"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 44px;
    font-size: 15px;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    border-top: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.form-element.form-element-first input {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px solid #ccc
}

.form-element.form-element-end input {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.form-element.form-element-single input {
    border: 1px solid #ccc;
    border-radius: 3px
}

.form-element.reg-phone-type {
    margin-top: 10px
}

.form-element.reg-phone-type input {
    border: 1px solid #ccc;
    border-radius: 3px
}

.form-element.reg-email-type {
    margin-top: 10px
}

.form-element.reg-email-type input[name="verify_phone"] {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc
}

.form-element.reg-email-type input[name="code"] {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.form-element.reg-email-type .get-code {
    top: 57px
}

.form-element .short-input, .form-element .short-input[type="text"] {
    width: 50%
}

.form-element span.openpwd {
    display: block;
    height: 100%;
    width: 32px;
    position: absolute;
    right: 2px;
    top: 0;
    background-image: url(/f/accounts/633583c94aee074deb5da23c5bd2babc796569ac/pics/douban_mobile/ic_pwd_privarie@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px;
    z-index: 5
}

.form-element span.openpwd.open {
    background-image: url(/f/accounts/7273e7b7ed01a831197d0b09224964ae0fa2258c/pics/douban_mobile/ic_pwd_open@2x.png)
}

.form-element #captcha_image {
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 8px
}

.form-element span, .form-element p.tip-msg {
    display: none
}

.form-element.submit-button {
    margin-top: 10px;
    text-align: center
}

.form-element.submit-button p {
    font-size: 12px;
    margin-top: 10px;
    color: #aaa
}

.form-element.submit-button p a {
    color: #aaa;
    text-decoration: underline
}

.form-element .btn-submit {
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    width: 100%;
    padding: 10px 26px;
    color: #ffffff;
    background: #17AA52;
    border: 1px solid #17AA52;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.form-element.login-con {
    display: none;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #ddd;
    padding: 20px 0
}

.form-element .captcha-img {
    margin-bottom: 3px
}

.form-element .tip-msg {
    font-size: 12px;
    margin-top: 3px;
    color: #777
}

.form-element .get-code {
    height: 17px;
    width: 40%;
    line-height: 17px;
    border-left: 1px solid #aaa;
    color: #42bd56;
    position: absolute;
    top: 13px;
    right: 5px;
    text-align: center
}

.form-element .get-code-btn {
    -webkit-appearance: none !important;
    color: #17aa52;
    border: none;
    font-size: 16px;
    background: none;
    vertical-align: middle;
    margin-top: -2px
}

.form-element .get-code-btn:disabled {
    color: #aaa;
    vertical-align: top
}

.toast {
    height: 40px;
    width: 100%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -45px;
    left: 0;
    z-index: 5;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s
}

.toast.show {
    top: 10px
}

.toast .toast-msg {
    display: inline-block;
    border-radius: 40px;
    padding: 0 40px;
    opacity: 0.96;
    line-height: 40px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}

.toast .toast-msg.error-msg {
    background: #ff4055
}

.toast .toast-msg.ok-msg {
    background: #42bd56
}

.toast .toast-msg.disable-msg {
    background: #494949
}

.login-more {
    margin-top: 15px;
    color: #aaa;
    text-align: right;
}

.login-more .lnk-flat {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    color: #ccc;
    background: #fff
}

.login-more .lnk-flat:link {
    padding: 7px 5px;
    font-size: 14px;
    color: #ccc;
    cursor: pointer
}

.login-more .lnk-flat:hover, .login-more .lnk-flat:visited, .login-more .lnk-flat:active {
    color: #ccc
}

.login-more .lnk-flat.disabled {
    border-color: #b9b9b9 !important;
    background: #f0f0f0 !important;
    color: #999 !important;
    cursor: text
}

.item-3rd {
    width: 100%;
    text-align: center;
    margin-top: 180px;
    display: -webkit-flex;
    display: flex
}

.item-3rd a {
    color: #aaa;
    font-size: 15px;
    line-height: 20px;
    -webkit-flex: 1.0;
    -moz-flex: 1.0;
    -o-flex: 1.0;
    flex: 1.0
}

.item-3rd a img {
    height: 16px;
    vertical-align: middle;
    margin-right: 5px
}

.other-reg {
    text-align: center;
    position: absolute
}

.wechat-info {
    padding: 0 20px;
    line-height: 30px;
    color: #494949
}

.wechat-public {
    margin-top: 30px;
    text-align: left
}

.wechat-public .hd {
    font-size: 12px;
    color: #aaa
}

.wechat-public .bd {
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px 15px
}

.wechat-public .bd .douban-logo {
    float: left;
    margin-top: 5px
}

.wechat-public .bd .douban-info {
    margin-left: 58px
}

.wechat-public .bd h3 {
    font-size: 19px;
    font-weight: bold;
    color: #42bd56
}

.wechat-public .bd h3 span {
    float: right;
    margin-right: 8px
}

.wechat-public .bd p {
    padding: 0;
    color: #aaa;
    font-size: 13px;
    line-height: 1.2
}

.footer {
    display: none;
    padding: 10px 20px;
    color: #aaa;
    font-size: 12px;
    border-top: 1px solid #ccc
}
